*{
    margin: 0;
    padding: 0;
    font-family: 'Niramit', sans-serif;
}

.topnav{
    justify-content: space-between;
    position: center fixed;
    background-attachment: fixed;
    background-color: rgba(156, 156, 156, 0.356)
}

.topnav ul{
    text-align: center;
}

.topnav ul li{
    display: inline-flex;
    position: relative;
    border-left: 0.5px ridge rgba(80, 74, 74, 0.247);
    border-right: 0.5px ridge rgba(80, 74, 74, 0.247);
}

.topnav ul li a{
    color:#fff;
    text-decoration: underline;
    text-align: center;
    display: block;
    padding: 0vh 7vw;
    font-size: 1.75vw;
}

.topnav ul li a:hover{
    background:rgba(116, 111, 111, 0.247);
    color: rgb(187, 187, 187)
}

.intro{
    min-height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(214, 134, 69, 0.288), rgba(0, 0, 0, 0.493)), url(images/background-1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.typewriter{
    font-size: 2.75vw;
    width: 26ch;
    font-weight: bold;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: .15em; 
    border-right: .18vw solid orange;
    animation: 
        blink .5s step-end infinite alternate, 
        typing 4s steps(24);
}

@keyframes typing {
    from { width: 0 }

}
@keyframes blink{
    50% { border-color: transparent }
}

.hello{
      color: #fff;
      text-align: left;
      font-size: 14;
      padding: 6vh 7vw;
    }


.panel{
    min-height: 80vh;
    width: 100%;
    background-color: white;
}
