*{
    margin: 0;
    padding: 0;
    font-family: 'Niramit', sans-serif;
}

.topnav{
    justify-content: space-between;
    position: center fixed;
    background-attachment: fixed;
    background-color: rgba(212, 209, 209, 0.4)
}

.topnav ul{
    text-align: center;
}

.topnav ul li{
    display: inline-flex;
    position: relative;
    border-left: 0.5px ridge rgba(80, 74, 74, 0.247);
    border-right: 0.5px ridge rgba(80, 74, 74, 0.247);
}

.topnav ul li a{
    color:#fff;
    text-decoration: underline;
    text-align: center;
    display: block;
    padding: 0vh 7vw;
    font-size: 1.75vw;
}

.topnav ul li a:hover{
    background:rgba(116, 111, 111, 0.247);
    color: rgb(187, 187, 187)
}

.hello{
    margin: 0 auto;
    width: 52 em;
    padding: 0vh 3vw;
}

.hello h1{
    text-align: center;
    font-weight: bold;
    font-size: 2.75vw;
    color: #fff;
    overflow: hidden; /* Ensures the content is not revealed until the animation */

    letter-spacing: .15em; /* Adjust as needed */
}

.hello p{
      color: #fff;
      text-align: left;
      font-size: 14;
      padding: 6vh 0vw
    }

.intro{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(94, 58, 29, 0.7), rgba(0, 0, 0, 0.7)), url(images/background-1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.panel{
    min-height: 80vh;
    width: 100%;
    background-color: white;
}
